:root{
    --btn-color: #6653a1;
    --text-color-hover: #c0abff;
    --primary-color1: #142631;
    --primary-color2: #081b27;
    --primary-btn-color: rgba(255,255,255,.12);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
}

@font-face{
    font-family:"UTMCafetaRegular";
    src:url("../fonts/UTM\ Cafeta.ttf") format("woff"),
    url("../fonts/UTM\ Cafeta.ttf") format("opentype"),
    url("../fonts/UTM\ Cafeta.ttf") format("truetype");
}

/* toast */
#toast {
    position: fixed;
    top: 30px;
    right: 35px;
}

.toast {
    background-color: #2f96b4;
    min-width: 300px;
    height: 50px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: flex;
    align-items: center;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.toast + .toast {
    margin-top: 12px;
}

.toast:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__icon {
    font-size: 20px;
    margin-right: 10px;
}